*{
  margin:0;
  padding: 0;
}
a{
  text-decoration: none;
}
body{
  background-color:#FE5844;
  font-family: 'Milky Coffee', sans-serif;
}


.main_toolbar{
  height:50px;
  margin:10px;
  background-color:#FE5844;
  border:solid 3px #F34D39;
  border-radius: 15px ;
}
.main_toolbar ul{
  width:100%;
  list-style: none;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}
.main_toolbar li{
  height:50px;
}
.main_toolbar  a{
  height:100%;
  padding: 0 30px;
  text-decoration: none;
  display:flex;
  align-items: center;
  color:#ffffff;
  font-family: 'Milky Coffee', sans-serif;
}
.main_toolbar a:hover{
  color: #ffd23b;
  border-bottom:4px solid white;
}

.main_toolbar li:first-child{
  transform:translateY(-3px) ;
  height:53px;
  margin-right:auto;
  background-color:white;
  border:solid 2px white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.side_toolbar li{
  height:50px;
}
.side_toolbar  a{
  height:100%;
  padding: 0 30px;
  text-decoration: none;
  display:flex;
  align-items: center;
  color:#ffffff;
  font-family: 'Milky Coffee', sans-serif;
}


.sidebar{
position:fixed;
top:0;
right:0;
height:100vh;
width:250px;
z-index: 999;
background-color:rgba(255 ,255 ,255, 0.5 );
backdrop-filter: blur(10px);
box-shadow: -10px 0 10px rgba(0,0,0,0.1);
display:none;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
list-style: none;

}
.sidebar li{
  width:100%;
}
.sidebar a{
  color:#383838;
  width:100%;
}
.sidebar li:first-child {
  width: 100%;
  box-shadow: -3px 0 10px rgba(0,0,0,0.1);
  margin-left: 180px; 
}

@media(max-width: 800px){
  .hideOnmobile{
    display: none;
  }
}
@media(max-width: 400px){
  .sidebar{
    width:100%;
  }
}

.container{
  margin-top: 5px;
}
.slider-wrapper{
  position:relative;
  max-width:100%;
  margin: 0 auto;
}
.slider{
  display:none;
  aspect-ratio:16/6;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behaviour: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.25rem;
}
.slider img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.slider-nav{
  display:none;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left:50%;
  tramsform: translateX(-50%);
  z-index:1;
}
.slider-nav a{
  width: 0.5rem;
  height: 0.5rem;
  border-radius:50%;
  background-color: white;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slider-nav a:hover{
  opacity: 1;
}
.mainLogo{
  color: #EFFBFD;
  font-size: 20px;
  font-family: 'CARTOON FREE', sans-serif;
}
.logo_cont{
  display:flex;
  align-items:center;
  justify-items: center;
  flex-basis: 50%;
}
.sc{
  border:solid 2px #FE5844;
  background-color:#FE5844;
  color:white;
  font-size:35px;
  border-radius:5px;
  margin:10px;
  
}
.logo{
  font-size:15px;
}
.first_image{

}
.cube{
  overflow:scroll;
}
.first_section{
  display:flex;
  width:100%;
}
.first_text{
  flex-basis: 40%;
}
.tittle{
  text-align: right;
  margin-top:40%;
  margin-right:5%;
  font-family: 'Milky Coffee', sans-serif;
  color:#f8c043;
}
.name{
  font-size: 60px;
  text-align: right;
  margin-right:5%;
  font-family: 'Milky Coffee', sans-serif;
  color:white;
}
.summarywithlogo{
  display: flex;
  margin-right:5%; 
}
.child_summarywithlogo{
  text-align:right;
  flex-basis:90%;
  font-family: 'Milky Coffee', sans-serif;
  color:white;
  margin-right:3%;
  
}
.child2_summarywithlogo {
border:solid 2px white;
  border-radius:50%;
  transform: translateY(-3px);
}
.parent_learnmorebtn{
  display:flex;
  align-items: right;
  justify-content: right;
  margin-right: 5%;
}
.learnmorebtn{
  width:fit-content;
  height:auto;
  display: flex;
  align-items: center;
}
.child1_learnmorebtn{
  width:100%;
  padding:2px; 
  background-color: #f8c043;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  border-right: solid 3px #FE5844 ;
  flex-basis: 20%;
  align-content: center;
  justify-content: center;
}
.child2_learnmorebtn{
  color:#FE5844;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width:100%;
  height:36px;
  align-content: center;
  padding-left: 15px;
  padding-right:15px;
}
